[package]
name = "php-rs-vm"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
php-rs-compiler = { path = "../php-rs-compiler" }
php-rs-ext-json = { path = "../php-rs-ext-json" }
php-rs-ext-standard = { path = "../php-rs-ext-standard" }
regex = "1"

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "vm_benchmarks"
harness = false
