[package]
name = "php-rs-vm"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "vm_benchmarks"
harness = false
