[package]
name = "php-rs-ext-standard"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
libc = "0.2"

[dev-dependencies]
